{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" value="{{ last_username }}" name="_username" class="form-control"
               placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Пароль" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="_remember_me" name="_remember_me" checked
                   required>
            <label class="custom-control-label mb-3 mt-3" for="_remember_me">Запомнить меня</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    </form>
{% endblock %}

