<div class="modal fade" id="confirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Вы уверены, что хотите удалить этот элемент?</h4>
                <p>Это действие не может быть отменено.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Отмена
                </button>
                <button type="button" class="btn btn-danger" id="btnYes" data-dismiss="modal">
                    <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                </button>
            </div>
        </div>
    </div>
</div>

<form action="{{ path(delete_path, {'id': item.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit"
            data-href="{{ path(delete_path, {'id': item.id}) }}"
            class="btn btn-danger float-right delete-btn" data-toggle="modal"
            data-target="#deleteModal"><i class="fa-trash fa"></i>
        Удалить
    </button>
</form>