{% extends 'base.html.twig' %}
{% block fluid %}{% if fluid is defined and fluid %}-fluid{% endif %}{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-sm-8 col-12">
            {% if includeImage is defined and includeImage %}
                <div class="row">
                    {% if form.vars.data.image|default %}
                        <div class="col-sm-6 mb-3">
                            <img src="{{ form.vars.data.image.filepath | imagine_filter('admin_image') }}"
                                 alt="{{ form.vars.data.id }}">
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if includeDocument is defined and includeDocument %}
                <div class="row">
                    {% if form.vars.data.document|default %}
                        <div class="col-sm-6 mb-3">
                            <a href="{{ uploaded_asset(form.vars.data.document.filepath) }}">Скачать</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {{ form(form) }}
        </div>
        {% if includeDropzone is defined and includeDropzone %}
            {% if form.vars.data.id|default %}
                <div class="col-sm-4 col-12">
                    <h2>{% if dropzoneTitle is defined %}{{ dropzoneTitle }}{% else %}Изображения{% endif %}</h2>
                    <form action="{{ path(dropzone_add, {id: form.vars.data.id, class: dropzone_class}) }}"
                          method="POST" enctype="multipart/form-data"
                          class="dropzone js-reference-dropzone">
                    </form>
                    <hr>
                    <ul class="list-group small js-reference-list"
                        data-type="{{ dropzone_type }}"
                        data-url="{{ path(dropzone_list, {id: form.vars.data.id, class: dropzone_class}) }}"></ul>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dropzone') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('dropzone') }}
{% endblock %}