{% extends 'base.html.twig' %}
{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-success float-right col-12 col-md-3"
               href="{{ path(create_path) }}"><i
                        class="fa-plus-circle fa"></i>
                Создать</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table text-center table-responsive-sm">
                <thead>
                <tr>
                    {% if sortable is defined and sortable %}
                        <th></th>{% endif %}
                    <th>Заголовок</th>
                    <th></th>
                    {% if showIsHiddenColumn is not defined or showIsHiddenColumn %}
                        <th>Отображать на сайте</th>
                    {% endif %}
                    <th></th>
                </tr>
                </thead>
                <tbody{% if sortable is defined and sortable %} data-url="{{ path('admin_change_position', {'class': class }) }}" class="sortable"{% endif %}>
                {% for item in items %}
                    <tr {% if sortable is defined and sortable %} data-id="{{ item.id }}"{% endif %}>
                        {% if sortable is defined and sortable %}
                            <td><i class="drag-handle fa-arrows-v fa"></i></td>{% endif %}
                        <td>{{ item.title }}</td>
                        <td><a
                                    href="{{ path(edit_path, {'id': item.id}) }}"><i
                                        class="fa-pencil fa"></i> Редактировать</a>
                        </td>
                        {% if showIsHiddenColumn is not defined or showIsHiddenColumn %}
                            <td>{% if item.hidden %}<i class="fa-times fas text-danger"></i>{% else %}<i
                                        class="fa-check fa text-success"></i>{% endif %}</td>
                        {% endif %}
                        <td>
                            {{ include('admin/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Список пуст</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sortable') }}
{% endblock %}