<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Администратор
        | {{ project_title }} {% block title %}{% if title is defined %} | {{ title }}{% endif %}{% endblock %}</title>
    {{ encore_entry_link_tags('admin') }}
    {% block stylesheets %}
    {% endblock %}
</head>

<body class="bg-light">
<div class="wrapper">
    <nav id="sidebar" class="bg-dark">
        <div class="sidebar-header bg-dark">
            <h3>Администратор</h3>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="list-unstyled components">
                <li>
                    <a href="javascript:void(0)"
                       class="bg-{% if app.request.get('_route') in [
                           'admin_index',
                       ] %}light text-dark{% else %}dark{% endif %}">Главная</a>
                </li>
            </ul>
            <ul class="list-unstyled components">

                <li class="bg-dark">
                    <a href="#info" data-toggle="collapse" aria-expanded="true"
                       class="dropdown-toggle">Страницы</a>
                    <ul class="collapse list-unstyled show" id="info">
                        <li>
                            <a href="javascript:void(0)"
                               class="bg-{% if app.request.get('_route') in [
                                   'admin_info',
                               ] %}light text-dark{% else %}dark{% endif %}">Страница</a>
                        </li>
                    </ul>
                </li>


            </ul>
        {% endif %}
    </nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mt-2 mt-lg-0">

                        {% if app.request.get('_route') in [
                            'admin_index',
                        ] %}
                            {{ include('admin/_top_menu/_index_menu.twig') }}
                        {% endif %}
                    </ul>


                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="{{ path('admin_logout') }}" class="btn btn-dark float-right"><i
                                        class="fa fa-sign-out"></i> Выйти</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>

        <!-- Page Content  -->
        <div id="content" class="container{% block fluid %}{% endblock %} card">
            <h1 class="card-header">{% block header %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}</h1>
            <div class="card-body">
                {% if app.request.hasPreviousSession %}
                    <div class="messages">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-{{ type }} in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>{{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('admin/ckeditor/ckeditor.js') }}"></script>
{{ encore_entry_script_tags('admin') }}
{% block javascripts %}{% endblock %}
</body>
</html>